.firwa {width: 450px; height: 175px;}
.firwa > li {display: block; height: 125px; width: 125px; background: black; float: left; transform: rotate(45deg); margin: 20px; border: darkgreen solid 5px; box-shadow: 0 0 0 5px white; overflow: hidden;}
.firwa > li span {display: block; margin-top: -27px; margin-left: -27px; padding: 0; width: 180px; height: 180px; transform: rotate(-45deg); background-position: center; background-color: green; background-blend-mode: multiply;}
.firwa .poke {text-align: right; margin-top: 160px; position: absolute; margin-left: 140px;}
.firwa .poke > li {display: inline-block; height: 30px; width: 35px; background-color: rgba(0,0,0,.8); margin: 0 8px; background-size: 55px; background-position: center; background-repeat: no-repeat; filter: drop-shadow(3px 3px 4px darkgreen);}
.firwa .poke > li:before {content: " ";
  display: block;
  width: 0; height: 0;
border-style: solid;
border-width: 0 0 30px 10px;
border-color: transparent transparent rgba(0,0,0,.8) transparent;
float:left; margin-left: -10px;}
.firwa .poke > li:after {
  content: " ";
  display: block;width: 0;
height: 0;
border-style: solid;
border-width: 30px 10px 0 0;
border-color: rgba(0,0,0,.8) transparent transparent transparent;
  float: right;
  margin-right: -10px;
}